<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <script src="js/socket.io.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="angular-app.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <title>H1Z1 Force-Brute</title>
</head>
<body ng-app="h1z1" ng-controller="BruteForceController">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">H1Z1 - Generador de fuerza bruta</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top: 60px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 main">
          <h1>Localizaciones</h1>
          <div class="table-responsive">
            <table class="table table-striped" ng-init="loadLocations()">
              <thead>
                <tr>
                  <th class="col-md-2">Estado</th>
                  <th>Nombre</th>
                  <th>PIN</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="loc in locations">
                  <td class="col-md-2">
                      <strong ng-if="loc.id == activelocation" class="label label-info">Activo</strong>
                      <strong ng-if="loc.pin" class="label label-success">Descifrado</strong>
                      <strong ng-if="loc.id != activelocation && !loc.pin" class="label label-danger">Desconocido</strong>
                  </td>
                  <td>{{loc.name}}</td>
                  <td>
                      <span ng-if="loc.pin">{{loc.pin}}</span>
                      <span ng-if="!loc.pin">
                          <input type="text" pattern="[0-9]{4}" class="form-control" ng-model="newpin" ng-blur='updateLocationPin(loc.id, newpin)' required/>
                      </span>
                  </td>
                  <td>
                    <a class="btn btn-primary" href="#" ng-if="loc.id != activelocation && !loc.pin" ng-click="active(loc.id)" role="button">Activar</a>
                    <a class="btn btn-primary" href="#" ng-click="deleteLocation(loc.id)" role="button">Borrar</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="form-control" ng-model="newlocationname"/>
                  </td>
                  <td>
                      <a class="btn btn-primary" href="#" ng-click="newLocation(newlocationname); newlocationname=''" role="button">Añadir</a>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 main">
          <h1>Clientes</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>Claves</th>
                  <th>Ultima actualización</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cinfo in clientsinfo">
                  <td>{{cinfo.id}}</td>
                  <td>{{cinfo.keys[0]}} - {{cinfo.keys.slice(-1)[0]}}</td>
                  <td>{{cinfo.lastview | date:'MM/dd/yyyy @ h:mma'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script

</body>
</html>
